:root {
  --sans: "Be Vietnam Pro", sans-serif;
  --clr-prm-red-100:hsl(12, 88%, 59%);
  --clr-prm-blue-100:hsl(228, 39%, 23%);
  --clr-ntr-blue-100:hsl(227, 12%, 61%);
  --clr-ntr-blue-200:hsl(233, 12%, 13%);
  --clr-ntr-red-100:hsl(13, 100%, 96%);
  --clr-ntr-gray-100:hsl(0, 0%, 98%);
  --raduis: 40px;
}

.txt-sans-regular {
  font-weight: 400;
}

.txt-sans-medium {
  font-weight: 500;
}

.txt-sans-bold {
  font-weight: 700;
}

.txt-prm-red-100 {
  color: var(--clr-prm-red-100);
}

.bg-prm-red-100 {
  background-color: var(--clr-prm-red-100);
}

.txt-prm-blue-100 {
  color: var(--clr-prm-blue-100);
}

.bg-prm-blue-100 {
  background-color: var(--clr-prm-blue-100);
}

.txt-ntr-blue-100 {
  color: var(--clr-ntr-blue-100);
}

.bg-ntr-blue-100 {
  background-color: var(--clr-ntr-blue-100);
}

.txt-ntr-blue-200 {
  color: var(--clr-ntr-blue-200);
}

.bg-ntr-blue-200 {
  background-color: var(--clr-ntr-blue-200);
}

.txt-ntr-red-100 {
  color: var(--clr-ntr-red-100);
}

.bg-ntr-red-100 {
  background-color: var(--clr-ntr-red-100);
}

.txt-ntr-gray-100 {
  color: var(--clr-ntr-gray-100);
}

.bg-ntr-gray-100 {
  background-color: var(--clr-ntr-gray-100);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--clr-prm-blue-100);
}

.wrapper {
  padding-inline: 2rem;
}

.larger-wrapper {
  padding-inline: 1rem;
}

.hide-it {
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: 700;
}

ul[class] {
  list-style: none;
}

p, input {
  color: var(--clr-ntr-blue-100);
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem 2rem;
  line-height: 3ch;
}

.call-to-action > *:nth-of-type(1) {
  display: block;
  padding: 1rem 2rem;
  color: var(--clr-ntr-gray-100);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--clr-prm-red-100);
  border-radius: var(--raduis);
  font-weight: 700;
}
.call-to-action.reverse > * {
  background-color: var(--clr-ntr-gray-100);
  color: var(--clr-prm-red-100);
}
.call-to-action.has-reflection > * {
  -webkit-box-shadow: 0 0.5rem 2px var(--clr-ntr-red-100);
          box-shadow: 0 0.5rem 2px var(--clr-ntr-red-100);
}
.call-to-action.listing {
  position: relative;
}
.call-to-action.listing > *:nth-of-type(2) {
  background-color: var(--clr-ntr-red-100);
  padding: 1rem 0rem 0 3rem;
  z-index: -1;
  font-weight: 700;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;
  left: 3rem;
}

#main-header {
  z-index: 999;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  width: 100%;
}
#main-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#main-header .wrapper .logo-container img {
  display: block;
  width: 110px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#main-header .wrapper.scroll {
  background-color: var(--clr-ntr-gray-100);
  padding-block: 1.5rem 1rem;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3137254902);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3137254902);
}
#main-header .wrapper.scroll .logo-container img {
  width: 100px;
}
#main-header .has-reflection {
  display: none;
}
#main-header .burger, #main-header .logo-container {
  z-index: 200;
}
#main-header .burger .close {
  display: none;
}
#main-header .burger.open .close {
  display: initial;
}
#main-header .burger.open .open {
  display: none;
}
#main-header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3137254902)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3137254902), transparent);
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
}
#main-header nav .header-main-nav-containter {
  margin-inline: 2rem;
  background-color: var(--clr-ntr-gray-100);
  padding-block: 2rem;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
#main-header nav .header-main-nav-containter a {
  display: block;
  padding: 1rem 0;
  text-align: center;
  color: var(--clr-prm-blue-100);
}
#main-header nav.open {
  pointer-events: auto;
  opacity: 1;
}
#main-header nav.open .header-main-nav-containter {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section {
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}
section img {
  display: block;
  width: 100%;
}
section header {
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
}
section header h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

#hero-section {
  position: relative;
}
#hero-section::before, #hero-section::after {
  content: "";
  position: absolute;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
#hero-section::before {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100px -20px;
}
@media screen and (min-width: 600px) {
  #hero-section::before {
    background-position: top right;
  }
}
#hero-section::after {
  background-size: 70%;
  background-position: 248px 500px;
}
#hero-section .wrapper {
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
}
#hero-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-block: 1rem;
}
#hero-section .call-to-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

#testimonials-section .sliders {
  min-height: 305px;
  position: relative;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#testimonials-section .slider {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#testimonials-section .slider.current {
  opacity: 1;
}
#testimonials-section .slider::before {
  content: "";
  position: absolute;
  inset: 50px 0 0 0;
  background-color: var(--clr-ntr-gray-100);
  z-index: -1;
  border-radius: 5px;
}
#testimonials-section .slider img {
  max-width: 100px;
  margin-inline: auto;
}
#testimonials-section .slider h3 {
  text-align: center;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
#testimonials-section .dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}
#testimonials-section .dots-container li {
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
#testimonials-section .dots-container li:not(.current) {
  border: 3px solid var(--clr-prm-red-100);
}
#testimonials-section .dots-container li.current {
  background-color: var(--clr-prm-red-100);
}
#testimonials-section .call-to-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto 0 auto;
}

#call-section {
  text-align: center;
}
#call-section header {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
#call-section h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
#call-section .call-to-action {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main-footer .footer-top .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;
  grid-template-areas: "col1 col1" "col2 col3" "col4 col4" "col5 col5";
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main-footer .footer-top .wrapper .footer-logo-container {
  grid-area: col4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#main-footer .footer-top .wrapper .footer-logo-container .logo-container {
  margin-inline: auto;
}
#main-footer .footer-top .wrapper .footer-logo-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
#main-footer .footer-top .wrapper .footer-logo-container .social-icons img {
  width: 2rem;
}
#main-footer .footer-top .wrapper .form-container {
  grid-area: col1;
}
#main-footer .footer-top .wrapper .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  width: 100%;
  gap: 0.5rem;
}
#main-footer .footer-top .wrapper .form-container form input {
  border-radius: var(--raduis);
  display: block;
  width: 100%;
  padding-block: 0.5rem;
  margin-block: 0;
  height: 3rem;
}
#main-footer .footer-top .wrapper .form-container button {
  border: none;
  cursor: pointer;
}
#main-footer .footer-top .wrapper a {
  display: block;
  color: var(--clr-ntr-gray-100);
  padding: 0.5rem 0 0 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  font-weight: 300;
}
#main-footer .footer-top .wrapper .footer-nav-container {
  grid-area: col2;
}
#main-footer .footer-top .wrapper .footer-extra-nav-container {
  grid-area: col3;
  align-self: baseline;
}
#main-footer .footer-top .wrapper .copyright-container {
  grid-area: col5;
  align-self: baseline;
}
#main-footer .footer-top .wrapper .copyright-container p {
  margin-block: 0 2rem;
  font-size: smaller;
}
#main-footer .footer-bottom {
  background-color: var(--clr-ntr-blue-100);
  padding: 1rem 0;
}
#main-footer .footer-bottom .attribution .main {
  font-size: smaller;
  text-align: center;
  color: var(--clr-ntr-blue-200);
}
#main-footer .footer-bottom .attribution .main a {
  color: var(--clr-ntr-blue-200);
  text-decoration: underline;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  display: block;
}
#main-footer .footer-bottom .attribution ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding-block: 2rem 1rem;
}
#main-footer .footer-bottom .attribution ul li i {
  color: var(--clr-ntr-blue-200);
  font-size: 2rem;
}/*# sourceMappingURL=App.css.map */