@import "var.scss";
//reset
*,*::after, *::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    font-family: var(--sans);
    font-size:1rem;
    color: var(--clr-prm-blue-100);
}
.wrapper{
    padding-inline: 2rem;
}
.larger-wrapper{
    padding-inline:1rem;
}
.hide-it{
    height:0;
    width:0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden ;
}

a{
    text-decoration:none;
    font-weight: 700;
}
ul[class]{
    list-style:none;
}
p{
    color: var(--clr-ntr-blue-100);
    font-size: 1rem;
    text-align:center;
    margin-block:1rem 2rem;
    line-height: 3ch;
}
.call-to-action{
    > *:nth-of-type(1){
        display: block;
        padding:1rem 2rem ;
        color: var(--clr-ntr-gray-100);
        width: fit-content;
        background-color: var(--clr-prm-red-100);
        border-radius: 40px;
        font-weight: 700;
    }
    &.reverse{
        > *{
            background-color: var(--clr-ntr-gray-100);
            color: var(--clr-prm-red-100);
        }

    }
    &.has-reflection{
        > * {
            box-shadow: 0 .5rem  2px var(--clr-ntr-red-100);
        }
    }
    &.listing{
        position: relative;
        > *:nth-of-type(2){
            background-color:var(--clr-ntr-red-100);
            padding:1rem 0rem 0 3rem;
            z-index: -1;
            font-weight: 700;
            position: absolute;
            top: 0;
            bottom:0;
            right: -1rem;
            left: 3rem;
        }
    }
}

#main-header{
    z-index: 999;
    height: fit-content;
    position: fixed;
    width: 100%;
    .wrapper{
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding-block-start: 2rem;
        transition: all 0.5s;
        .logo-container{
            img{
                display: block;
                width: 110px;
                transition: all 0.5s;
            }
        }
        &.scroll{
            background-color: var(--clr-ntr-gray-100);
            padding-block: 1.5rem 1rem;
            box-shadow: 0 5px 20px #00000050;
            .logo-container{
                img{
                    width: 100px;
                }
            }
        }
    }
    .has-reflection{
        display:none;
    }
    .burger, .logo-container{
        z-index: 200;
    }
    .burger{
        .close{
            display:none;
        }
        &.open{
            .close{
                display:initial;
            }
            .open{
                display:none;
            }
        }
    }
    nav{
        position:fixed;
        top: 0;
        left: 0;
        height: 100svh;
        width: 100%;
        padding-block-start: 5rem;
        background-image:linear-gradient(to top, #00000050, transparent);
        z-index: 100;
        opacity: 0;
        transition: all 0.5s;
        pointer-events: none;
        .header-main-nav-containter{
            margin-inline:2rem;
            background-color: var(--clr-ntr-gray-100);
            padding-block: 2rem;
            opacity: 0;
            transform: translateY(100px);
            transition: all 0.3s;
            border-radius:5px;
            a{
                display:block;
                padding: 1rem 0;
                text-align: center;
                color: var(--clr-prm-blue-100)
            }
        }
        &.open{
            pointer-events: auto;
            opacity: 1;
            .header-main-nav-containter{
                opacity: 1;
                transform:translateY(0)
            }
        }
    }
}
section{
    padding-block-end: 6rem;
    img{
        display:block;
        width: 100%;
    }
    header{
        h2{
            text-align: center;
            font-size: 2rem;
            font-weight: 900;
        }
        margin-block-end: 4rem;
    }
}
#hero-section{
    position:relative;
    &::before, &::after{
        content:"";
        position:absolute;
        inset: 0;
        background-image:url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        z-index: -1;
    }
    &::before{
        background-size: 130%;
        background-position: 45px -160px;
    }
    &::after{
        background-size: 70%;
        background-position: 248px 500px;
    }

    .wrapper{
        padding-block-start: 5rem;
    }
    h2{
        font-size: 2rem;
        text-align: center;
        margin-block: 1rem;
    }
    .call-to-action{
        width: fit-content;
        margin-inline: auto;
    }
}

#testimonials-section{
    $width: 100px;
    .sliders{
        min-height: 305px;
        position:relative;
        margin-block-end: 4rem;
        transition: all 0.5s;
    }
    .slider{
        position:absolute;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
        &.current{
            opacity: 1;
        }
        &::before{
            content:"";
            position:absolute;
            inset: ($width / 2) 0 0 0;
            background-color: var(--clr-ntr-gray-100);
            z-index: -1;
            border-radius: 5px;
        }
        img{
            max-width: $width;
            margin-inline:auto;
        }
        h3{
            text-align:center;
            margin-block-start: 2rem;;
        }
    }
    .dots-container{
        display:flex;
        justify-content: center;
        gap: 0.5rem;
        li{
            width: 1rem;
            aspect-ratio: 1;
            border-radius: 50%;
            &:not(.current){
                border: 3px solid var(--clr-prm-red-100);
            }
            &.current{
                background-color: var(--clr-prm-red-100);
            }
        }
    }
}
#call-section{
    text-align: center;
    header{
        padding-block: 3rem 0rem;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .call-to-action{
        margin-inline:auto;
        width: fit-content;
    }
}