@import "var.scss";
//reset
*,*::after, *::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    font-family: var(--sans);
    font-size:1rem;
    color: var(--clr-prm-blue-100);
}
.wrapper{
    padding-inline: 2rem;
    @include tablet{
        max-width:var(--max-width);
        margin-inline:auto;
    }
}
.larger-wrapper{
    padding-inline:1rem;
}
.hide-it{
    height:0;
    width:0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden ;
}

a{
    text-decoration:none;
    font-weight: 700;
}
ul[class]{
    list-style:none;
}
p, input{
    color: var(--clr-ntr-blue-100);
    font-size: 1rem;
    text-align:center;
    margin-block:1rem 2rem;
    line-height: 3ch;
    @include tablet{
        font-size: 1.35rem;
    }
}
.call-to-action{
        margin-inline:auto;
        width: fit-content;
        a{
            transition: all 0.3s;
        }
    > *:nth-of-type(1){
        display: block;
        padding:1rem 2rem ;
        color: var(--clr-ntr-gray-100);
        width: fit-content;
        background-color: var(--clr-prm-red-100);
        border-radius: var(--raduis);
        font-weight: 700;
    }
    &.reverse{
        > *{
            background-color: var(--clr-ntr-gray-100);
            color: var(--clr-prm-red-100);
        }
        a{
            &:hover{
                color: var(--clr-prm-red-200);
            }
        }

    }
    &.has-reflection{
        > * {
            box-shadow: 0 .5rem  2px var(--clr-ntr-red-100);
        }
        &:hover{
            a{
                background-color: var(--clr-prm-red-200);
            }
        }
    }
    &.listing{
        position: relative;
        width: auto;
        > *:nth-of-type(2){
            background-color:var(--clr-ntr-red-100);
            padding:1rem 0rem 0 3rem;
            z-index: -1;
            font-weight: 700;
            position: absolute;
            top: 0;
            bottom:0;
            right: -1rem;
            left: 3rem;
        }
    }
    @include tablet{
        margin-inline:unset;
    }
}

#main-header{
    z-index: 999;
    height: fit-content;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    padding-block-start: 2rem;
    @include tablet{
        padding-block-start: 4rem;
    }
    .logo-container{
        transition: all 1s;
        img{
            display: block;
            width: 150px;
            transition: all 0.5s;
        }
    }
    &.scroll{
        background-color: var(--clr-ntr-gray-100);
        padding-block: 1.5rem 1rem;
        box-shadow: 0 5px 20px #00000050;
        .logo-container{
            img{
                width: 100px;
            }
        }
    }
    .wrapper{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .has-reflection{
        display:none;
    }
    .burger, .logo-container{
        z-index: 200;
    }
    .burger{
        .close{
            display:none;
        }
        &.open{
            .close{
                display:initial;
            }
            .open{
                display:none;
            }
        }
    }

    nav{
        position:fixed;
        top: 0;
        left: 0;
        height: 100svh;
        width: 100%;
        padding-block-start: 5rem;
        background-image:linear-gradient(to top, #00000050, transparent);
        z-index: 100;
        opacity: 0;
        transition: all 0.5s;
        pointer-events: none;
        .header-main-nav-container{
            margin-inline:2rem;
            background-color: var(--clr-ntr-gray-100);
            padding-block: 2rem;
            opacity: 0;
            transform: translateY(100px);
            transition: all 0.3s;
            border-radius:5px;
            a{
                display:block;
                padding: 1rem 0;
                text-align: center;
                color: var(--clr-prm-blue-100);
                transition: all 0.3s;
                &:hover{
                    color: var(--clr-ntr-blue-100);
                }
            }
        }
        &.open{
            pointer-events: auto;
            opacity: 1;
            .header-main-nav-container{
                opacity: 1;
                transform:translateY(0)
            }
        }
    }
}
// Tab view
@include tablet{
    #main-header{
        padding-block-start: 4rem;
        .burger{
            display:none;
        }
        .has-reflection{
            display:block;
        }
        nav, nav.open{
            position:relative;
            top: auto;
            left:auto;
            height:auto;
            width: fit-content;
            padding-block-start: unset;
            background-image:unset;
            opacity: 1;
            pointer-events: auto;
            
            .header-main-nav-container{
                background-color:transparent;
                opacity: 1;
                padding-block: 0;
                transform:translateY(0);
                display:flex;
                gap: 2rem;
                width: fit-content;
                margin: unset;
            }
        }
    }
}


//Main content

main{
    position:relative;
    overflow: hidden;
    &::before, &::after{
        content:"";
        position:absolute;
        background-image:url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        z-index: -100;
    }
    &::before{
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 110% -10%;
    }
    &::after{
        top: 50vh;
        height: 100%;
        width: 50%;
        right: 0;
        background-size: 400px;
        background-position: 30vw 0;
        @include tablet{
            right: auto;
            left:0;
            background-position: -10vw 25vh;
        }
    }
}

section{
    padding-block-end: 4rem;
    img{
        display:block;
        width: 100%;
    }
    header{
        h2{
            text-align: center;
            font-size: 2.5rem;
            font-weight: 900;
        }
        margin-block-end: 4rem;
    }
}

#hero-section{
    position:relative;
    padding-block-end: 10rem;
    background-image:url(./images/bg-simplify-section-mobile.svg);
    overflow: hidden;
    @include tablet{
        background-image:url(./images/bg-simplify-section-desktop.svg); 
    }
    

    .wrapper{
        padding-block-start: 5rem;
    }
    h2{
        font-size: 2rem;
        text-align: center;
        margin-block: 1rem;
    }
}
//Tab View
@include tablet{
    #hero-section{
        padding-block-start: 10svh;
        .wrapper{
            display:flex;
            flex-direction: row-reverse;
            align-items:center;
            justify-content: space-between;
            .media-container{
                width: 55%;
                max-width: auto;
            }
            .text-content{
                width: 40%;
                h2{
                    font-size: 4rem;
                }
                h2, p{
                    text-align:left;
                }
            }
        }
    }
}

@include tablet{
    #about-section{
        display:flex;
        max-width: var(--max-width);
        margin-inline:auto;
        justify-content: space-between;
        .wrapper{
            width: 40%;
            margin-inline:unset;

            h2, p{
                text-align:left
            }
            p{
                width: 80%;
            }
        }
        .larger-wrapper{
            width: 50%;
            .about-item{
                .call-to-action{
                    width: auto;
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    span:nth-of-type(2){
                        background-color:transparent;
                        font-size:1.45rem;
                        padding: 0;
                        position: relative;
                        left: auto;
                        right: auto;
                    }
                }
                p{
                    text-align: left;
                    padding-inline-start:8rem;
                }
            }
        }
    }
}

#testimonials-section{
    $width: 100px;
    .sliders{
        min-height: 305px;
        position:relative;
        margin-block-end: 4rem;
        transition: all 0.5s;
    }
    .slider{
        position:absolute;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
        &.current{
            opacity: 1;
        }
        &::before{
            content:"";
            position:absolute;
            inset: ($width / 2) 0 0 0;
            background-color: var(--clr-ntr-gray-100);
            z-index: -1;
            border-radius: 5px;
        }
        img{
            max-width: $width;
            margin-inline:auto;
        }
        h3{
            text-align:center;
            margin-block-start: 2rem;;
        }
    }
    .dots-container{
        display:flex;
        justify-content: center;
        gap: 0.5rem;
        li{
            width: 1rem;
            aspect-ratio: 1;
            border-radius: 50%;
            &:not(.current){
                border: 3px solid var(--clr-prm-red-100);
            }
            &.current{
                background-color: var(--clr-prm-red-100);
            }
        }
    }
    .call-to-action{
        width: fit-content;
        margin:3rem auto 0 auto;
    }
}
@include tablet{
    #testimonials-section{
        margin-block-start: 5rem;
        header{
            padding-block-end: 3rem;
        }
        .ctrls-container{
            display:none;
        }
        .sliders-container{
            .sliders{
                display:flex;
                width: 100%;
                gap: 2rem;
                overflow-x: scroll;
                scroll-behavior: smooth;
                .slider, .slider.current{
                    opacity: 1;
                    pointer-events: auto;
                    position:relative;
                    left: auto;
                    right: auto;
                    min-width: 35%;
                    user-select: none;
                    cursor: grab;
                }
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}


#call-section{
    text-align: center;
    header{
        padding-block-start: 4rem;
        margin-block-end: 2rem;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .call-to-action{
        margin-inline:auto;
        width: fit-content;
    }
}

@include tablet{
    #call-section{
        .wrapper{
            display:flex;
            align-items:center;
            justify-content:space-between;
            header{
                max-width: 35%;
                h2{
                    text-align: left;
                }
            }
            .call-to-action{
                width: fit-content;
                margin-inline:unset;
            }
        }
    }
}

#main-footer{
    .footer-top{
        .wrapper{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 0.1fr;
            grid-template-areas: 
                                "col1 col1"
                                "col2 col3"
                                "col4 col4"
                                "col5 col5";
            gap: 2rem;
            align-items: center;
            
            .footer-logo-container{
                grid-area: col4;
                display:flex;
                flex-direction: column-reverse;
                .logo-container{
                    margin-inline:auto;
                }
                .social-icons{
                    display:flex;
                    justify-content: space-between;
                    margin-block-end: 2rem;
                    img{
                        width: 2rem;;
                    }
                }
            }
            .form-container{
                grid-area: col1;
                form{
                    display: flex;
                    align-items: center;
                    margin-inline:auto;
                    width: 100%;
                    gap: 0.5rem;
                    input{
                        border-radius: var(--raduis);
                        display: block;
                        width: 100%;
                        padding-block:0.5rem;
                        margin-block: 0;
                        height: 3rem;
                    }
                }
                button{
                    border: none;
                    cursor: pointer;
                }
            }
            a{
                display:block;
                color:var(--clr-ntr-gray-100);
                padding: .5rem 0 0 1rem;
                margin-block-end: 1rem;
                font-weight: 300;
                transition: all 0.3s;
                &:hover{
                    color: var(--clr-prm-red-100);
                }
            }
            .footer-nav-container{
                grid-area:col2;
            }
            .footer-extra-nav-container{
                grid-area: col3;
                align-self: baseline;
            }
            .copyright-container{
                grid-area:col5;
                align-self: baseline;
                p{
                    margin-block: 0 2rem;
                    font-size: smaller;
                }
            }
        }
    }
    @include tablet{
        .footer-top{
            .wrapper{
                padding-block: 4rem 2rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows:1fr 1fr;
                grid-template-areas: 
                                "col4 col2 col3 col1"
                                "col4 col2 col3 col5";
                justify-items: center;
                align-items: normal;
                .footer-logo-container{
                    justify-self: baseline;
                    flex-direction: column;
                    justify-content: space-between;
                    .logo-container{
                        margin-inline:unset;
                        svg{
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .social-icons{
                        margin-block-end: unset;
                        img{
                            width: 1.5rem;
                        }
                    }
                }
                .copyright-container{
                    justify-self: end;
                }
                .form-container{
                    input{
                        padding-inline: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .footer-bottom{
        background-color: var(--clr-ntr-blue-100);
        padding: 1rem 0;
        .attribution{
            .main{
                font-size: smaller;
                text-align: center;
                color: var(--clr-ntr-blue-200);
                a{
                    color: var(--clr-ntr-blue-200);
                    text-decoration:underline;
                    margin-block-end: 1rem;
                    display:block;
                }
            }
            ul{
                list-style:none;
                display:flex;
                justify-content: space-between;
                gap: 1rem;
                padding-block: 2rem 1rem;
                li{
                    i{
                        color: var(--clr-ntr-blue-200);
                        font-size: 2rem;
                    }
                }
            }
        }
        @include tablet{
            .attribution {
                display: flex;
                justify-content: center;
                align-items:center;
                gap:1rem;
                .main{
                    display:flex;
                    a{
                        margin-block: unset;
                    }
                }
                ul{
                    padding-block:unset;
                    li{
                        a{
                            i{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}